
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

    <nav>
        <ul>
            <li>@Html.ActionLink("Home Page","Index","Default")</li>
            <li>@Html.ActionLink("Testamonials","Quotes","Default")</li>
        </ul>
    </nav>
    <div lass="p-3 mb-2 bg-dark text-white">

        <h4> Courses Offered on the 5th Semester</h4>
        <ul>
            <li>Software Testing</li>
            <li>Database administration</li>
            <li>Carrer Planning</li>
            <li>Final Project 1</li>
            <li>Android app Developement</li>
            <li>ASP.NET Web app development</li>

        </ul>

    </div>
    



