
@{
    ViewBag.Title = "Quotes";
}

<h2>Quotes</h2>
<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Default")</li>
        <li>@Html.ActionLink("Semester 5", "Courses", "Default")</li>
    </ul>
    <div>
        Sami :"It was an enjoyable experience. I feel confident and trust in my abilities to move forward in my carreer. I would definitely recommend it."<br />
        Haroon: "It wasnt easy, playing to much of league of legends is not good for you, I learned it the hard way."<br />
        Bogdan:"Fuck me, I work too hard."<br />
        Fatsy:"It was a humbling experience, a lot was learned. It is a never ending journey, it is not an easy path, but it is worth it."<br />
        Artem:"I now work for pornhub"
     </div>
</nav>

